#containerTable {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3.5px solid #ddd;
    width: 100%;
    margin-top: 2%;
  }
  
  td,th {
    border: 1px solid #ddd;
    padding: 5px;
  }